table {
  
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    
    border: 1px solid;
    border-radius: 5px;
    border-color: #8a8d8f;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 1px 5px;
}

td:last-of-type {
    text-align: center;
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.check-tr{
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.check-filter-panel{
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}
