@rendermode InteractiveServer

<div class="row m-0 ps-1" style="height: 100%; ">

    <div class="col-1 m-0 padding-1px">
        <div class=" p-0 m-0 div-menu-center bottom-shadow button-panel"
             title="Update panel"
             style="height: 100%; width: 100%" @onclick="@OnClickUpdate">
            <span role="img" class="anticon  text-vertical-center">
                <img src="icons/update-001.svg" width="25" height="25"/>
            </span>
        </div>
    </div>


</div>