@page "/Operate"

<div class="m-0 padding-1px"
     style="background-color: #eff0f1; height: 100vh; width: 100vw;     overflow-x: hidden;     overflow-y: hidden;">

     <div class="row m-0 p-0 border-enveloping-custom" style=" height: 5.0vh; width: 99.8vw; background-color: #eceff3">
          менюхи
     </div>


     <div class="row m-0 padding-1px " style=" height: 95.0vh; width: 99.9vw;">
          <div class="col-2 m-0 p-0 border-enveloping-custom"
               style="background-color: #eceff3; width: 20.0%;  height: 100%;">
               Фильтры для поиска
          </div>

          <div class="col-10 m-0 "
               style="overflow-y: hidden; background-color: #f8f9fa;   height: 100%; width: 80.0%;
                padding-bottom: 1px;    padding-left: 1px;    padding-right: 1px;">

               <div class="row  p-0  border-enveloping-custom" style=" height: 70%; width: 100%; 
                    margin-bottom: 1px; margin-left: 0px; margin-top: 0px; margin-right: 0px;">
                    @BpmnPlanePanelTemplate
               </div>

               <div class="row m-0 p-0 border-enveloping-custom" style=" height: 30%; width: 100%; background-color: #eceff3">
                    список процессов
               </div>

          </div>


     </div>

</div>